<div>
      <h1>Model:<%= request.model %></h1>
      <h1>Maker:<%= request.maker %></h1>
      <h1>Year:$<%= request.year %></h1>
      <h1>Min Price:<%= request.min_price %></h1>
      <h1>Max Price:<%= request.max_price %></h1>
</div>
